
/* Installer sidebar only shown on larger screens. */
.migrate-page-sidebar {
  display: none;
}
/* Larger screens show the progress steps when installing. */
@media only screen and (min-width: 768px) {
  .migrate-page-sidebar {
    display: block;
    float: left; /* LTR */
    width: 220px;
    box-sizing: border-box;
  }
  [dir="rtl"] .migrate-page-sidebar {
    float: right;
  }

  .migrate-page-main {
    padding: 0 20px;
    margin-left: 240px; /* LTR */
    box-sizing: border-box;
  }
  [dir="rtl"] .migrate-page-main {
    margin-left: 0;
    margin-right: 240px;
  }
}

.d2b-db-saved {
  padding: 20px;
  border: 2px solid #CFDE56;
  margin-bottom: 20px;
}
.d2b-db-saved:before {
  content: ' ';
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #CFDE56 url(../../core/misc/icon-ok.png) no-repeat center center;
  background-size: 60%;
}
.d2b-db-saved .task-item {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 0 0 0 2.5em;
}